.slides .slide-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: none;
    &.active {
      display: block;
    }
  }
}

.slides .slide-buttons {
  list-style: none;
  margin: 0;
  padding: 0
} 