.slides .slide-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .slides .slide-list li {
    display: none; }
    .slides .slide-list li.active {
      display: block; }

.slides .slide-buttons {
  list-style: none;
  margin: 0;
  padding: 0; }
